<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="submit.php">
        <system.webServer>
            <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        </system.webServer>
    </location>
    <system.webServer>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.php" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4000000000" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
