/**
 * Some simplified CSS replacements for IE 6 & 7
 *
 * Moves search/info to the center, fixes clipper issues, re-floats backdrop boxes.
 *
 * Layout, design, and code is Copyright 2010 micksam7 - me@micksam7.com
 */
 
div.clipper{
	width: 100%;
}

div.container {
	width: auto;
	min-width: 0px;
}

div.selection {
	float: left;
}

div.vidBox {
	float: left;
	cursor: pointer;
}

div.info {
	float: none;
	width: 530px;
	text-align: left;
	margin: 0px 0px 30px 0px;
	margin-left:auto;
	margin-right:auto;
}

div.search {
	float: none;
	width: 530px;
	height: 23px;
	text-align: center;
	margin: 0px 0px 30px 0px;
	margin-left:auto;
	margin-right:auto;
}

input.searchbox {
	width: 450px;
}

input.searchsubmit {
	padding-right: 0px;
}

div.hidemeifnotsmall {
	display: inherit;
}